<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.adrian.monumentos">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true"/>



    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_app"
        android:label="Cluster05"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".GlobalState" >
        <activity
            android:name=".MainActivity"
            android:configChanges="screenSize|orientation"
            android:windowSoftInputMode="stateUnchanged|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!--Intent-filter añadido para incorporar los "deep link" de Google a la aplicación.
            Para más información: https://developer.android.com/training/app-indexing/deep-linking.html-->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Accepts URIs that begin with "http://www.asimov.com/tripapp” -->
                <data android:scheme="http"
                    android:host="www.asimov.com"
                    android:pathPrefix="/tripapp" />

                <!-- note that the leading "/" is required for pathPrefix-->
                <!-- Accepts URIs that begin with "asimov://tripapp” -->
                <data android:scheme="asimov"
                    android:host="tripapp" />
            </intent-filter>
        </activity>
    </application>

</manifest>